.loginForm form {
    padding-top: 100px;
    padding-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

.loginForm input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
}

.loginForm .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	width: 500px;
	max-width: 100%;
	min-height: 480px;
	min-width: fit-content;
	padding-left: 10px;
	padding-right: 10px;
}
