@import '@fontsource/bungee-shade';
@import 'loaders.css/src/animations/line-scale.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

Particle {
  z-index: -5;
}

.home-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
  }

  .hh5 {
      color: white;
      font-family: 'Coolvetica';
      font-weight: 400;
      font-size: 70px;
      width: 100%;
      height: auto;
      position: absolute;
      top: 100px;
      opacity: 0;
      display: inline;
      animation: rotateIn 1s linear both;
  }

  .hh6 {
      color: white;
      font-family: 'Coolvetica';
      font-weight: 400;
      font-size: 40px;
      width: 100%;
      position: absolute;
      top: 320px;
      opacity: 0;
      display: inline;
      animation: rotateIn 1s linear both;
  }

  h1 {
    color: white;
    font-size:80px;
    margin: 0;
    font-family: 'Coolvetica';
    font-family: 'Retro';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      animation: fadeIn 1s 1.7s backwards;
      left: 15px;
      opacity: 0.6;
    }

    &:after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-left: 15px;
      margin-top: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  .scroll {
    position: absolute;
    left: 50%;
    top: 600px;
      animation: blinker 2s linear infinite;
      @keyframes blinker {
          50% {
            opacity: 0;
          }
        }   
  }

  .typing_2 {
    color: white;
    width: 700px;
    height: fit-content;
    margin-top: 970px;
    margin-left: 30px;
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1s backwards;
  }

  .flat-button {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 10px 18px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 30px;
    border: 1px solid #ffd700;
    border-radius: 20%;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    width: 120px;

    &:hover {
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
      background: white;
      color: #333;
      font-weight: 600;
      transform: translateY(3px);
      .ic {
        color: black;
      }
    }
    &:link {
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }

  }
}

.buttons {
  margin-bottom: 2px;
  height: 200px;
  width: 100%;
}

.lottie {
  position: absolute;
  top: 920px;
  right: 200px;
  height: 600px;
  background-color: black;
  border: 5px solid white;
  background-color: white;
  border-radius: 50px;
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
  }

  .hh5 {
      color: white;
      font-family: 'Bungee Shade';
      font-weight: 400;
      font-size: 10px;
      width: 70%;
      margin-left: 30px;
      height: auto;
      position: absolute;
      top: 30px;
      opacity: 0;
      display: inline;
      animation: rotateIn 1s linear both;
  }

  .lottie {
    display: none;
  }

  .home-page .flat-button, .music-b {
    float: none;
    display: block;
    margin: 20px auto 0 auto;

    width: 124px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .hh6 {
    width: 100vw;
    border: 1px solid white;
  }

}